body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* 背景色 */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
    width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    /* 固定位置相关属性 */
    position: fixed;
    top: 13%; /* 距离顶部20%的距离 */
  }
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* 标题颜色 */
}
.form-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.form-row select,
.form-row button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}
.form-row button {
  background-color: rgb(118, 150, 255);
  color: #fff;
  border: none;
  cursor: pointer;
}
.form-row button:hover {
  background-color: #007bff;
}
.result {
  margin-top: 20px;
  overflow-y: auto; /* 当内容溢出时显示滚动条 */
    max-height: 60vh; /* 最大高度 */
}
p{
  line-height: 1.5;
}
.result-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff; /* 结果项背景色 */
  /* overflow: auto;    */
}
.result-item h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #333; /* 标题颜色 */
}
.result-item p {
  margin: 5px 0;
  color: #666; /* 正文颜色 */
}
.like-btn {
  background-color: rgb(112, 145, 252);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
